.large-button {
    width: 100px; /* Set the desired width */
    height: 32px; /* Set the desired height */
    font-size: 15px; /* Increase the font size for the button text */
   /* Increase padding for inner spacing */
    margin-left: 5px;
  }
  